<div id="newData">
    @foreach (var stop in Model.ApiOutput.StopAndBusList)
    {
        <h3> @stop.StopName</h3>

        <table class="timetable">
            <tr>
                <th width="100px">Bus Line</th>
                <th>Destination</th>
                <th class="rightAlign">Time to arrival</th>
            </tr>
            @foreach (var bus in stop.NextFive)
            {
                <tr>
                    <td width="50px">@bus.lineName</td>
                    <td>@bus.destinationName</td>
                    @{
                        string arrivalText;
                        var Time = bus.TimeToArrival();
                        if (Time == 1)
                        {
                            arrivalText = Time.ToString() + " min";
                        }
                        else if (Time == 0)
                        {
                            arrivalText = "Due";
                        }
                        else
                        {
                            arrivalText = Time.ToString() + " mins";
                        }
                    }
                    <td align="right">@arrivalText</td>
                </tr>
            }
        </table>
    }
</div>
